<div class="chat-header">
<div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ログアウト</a>
    </div>
  </div>
</div>

<div class="messages">
  <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag '/assets/images/IMG_2276.jpg', class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
</div>

